.App {
  text-align: center;
}

.card {
  /* border-radius: 20px !important; */
  width: 20vw;
  height: 20vh;
  border-style: hidden !important;
}

.card:hover {
  cursor: pointer;
}

.card-img {
  border-radius: 20px !important;
}

.text-white {
  text-shadow: 2px 2px #000000;
}
