.App {
  text-align: center;
}

.card {
  /* border-radius: 20px !important; */
  width: 20vw;
  height: 20vh;
  border-style: hidden !important;
}

.card:hover {
  cursor: pointer;
}

.card-img {
  border-radius: 20px !important;
}

.text-white {
  text-shadow: 2px 2px #000000;
}

.location-subheading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.location-image {
  width: 40vw;
  height: 40vh;
  object-fit: cover;
  border-radius: 50px;
}
